#countLabel {
    display: block;
    text-align: center;
    font-size: 3em;
    font-family: Helvetica;
}
#buttonContainer {
    text-align: center;
}
.buttons {
    padding: 10px 20px;
    font-size: 1.1em;
    color: white;
    background-color: rgb(84, 181, 208);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover { 
    background-color: rgb(31, 122, 178);
}